@use "/public/styles/variables" as *;

.recipeHeader {
  font-family: $inter;
  margin-bottom: 2rem;

  &__title {
    font-size: 4.5rem;
    text-align: center;
    line-height: 6rem;
    letter-spacing: -4%;
    color: $colorDark;
    font-weight: $fontWeightTitle;
  }

  &__actions {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}
