@use "/public/styles/variables" as *;

.nutrition {
  &__item {
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    &:not(:last-child) {
      border-right: 1px solid rgba($colorDark, 0.1);

      @media only screen and (min-width: $desktop) {
        border-bottom: 1px solid rgba($colorDark, 0.1);
        border-right: none;
      }
    }

    @media only screen and (min-width: $desktop) {
      flex-direction: row;
      justify-content: space-between;
      padding-right: 0;
      padding-top: 1rem;
    }
  }

  &__label {
    font-size: 1.1rem;
    font-family: $inter;
    line-height: 1.8rem;
    font-weight: 500;
    letter-spacing: -4%;
    color: rgba($colorDark, 0.6);
    margin-bottom: 0.5rem;

    @media only screen and (min-width: $desktop) {
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
  }

  &__value {
    font-size: 1.1rem;
    font-family: $inter;
    line-height: 1.8rem;
    font-weight: 500;
    letter-spacing: -4%;
    color: $colorDark;
    @media only screen and (min-width: $desktop) {
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
  }
}
