@use "/public/styles/variables" as *;

.recipeHeader {
  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: center;

    @media only screen and (min-width: $desktop) {
      justify-content: flex-start;
      flex-wrap: nowrap;
      margin-top: 2rem;
    }
  }
}
